@model ControlPostgres.Contexto.Entities.TbEmpleado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbEmpleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CargoId" class="control-label"></label>
                <select asp-for="CargoId" class ="form-control" asp-items="ViewBag.CargoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeptoId" class="control-label"></label>
                <select asp-for="DeptoId" class ="form-control" asp-items="ViewBag.DeptoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VacacionesId" class="control-label"></label>
                <select asp-for="VacacionesId" class ="form-control" asp-items="ViewBag.VacacionesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoCodigo" class="control-label"></label>
                <input asp-for="EmpleadoCodigo" class="form-control" />
                <span asp-validation-for="EmpleadoCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoContraseña" class="control-label"></label>
                <input asp-for="EmpleadoContraseña" class="form-control" />
                <span asp-validation-for="EmpleadoContraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoNombre1" class="control-label"></label>
                <input asp-for="EmpleadoNombre1" class="form-control" />
                <span asp-validation-for="EmpleadoNombre1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoNombre2" class="control-label"></label>
                <input asp-for="EmpleadoNombre2" class="form-control" />
                <span asp-validation-for="EmpleadoNombre2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoApellido1" class="control-label"></label>
                <input asp-for="EmpleadoApellido1" class="form-control" />
                <span asp-validation-for="EmpleadoApellido1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoApellido2" class="control-label"></label>
                <input asp-for="EmpleadoApellido2" class="form-control" />
                <span asp-validation-for="EmpleadoApellido2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoCasada" class="control-label"></label>
                <input asp-for="ApellidoCasada" class="form-control" />
                <span asp-validation-for="ApellidoCasada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoTelefono" class="control-label"></label>
                <input asp-for="EmpleadoTelefono" class="form-control" />
                <span asp-validation-for="EmpleadoTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoDireccion" class="control-label"></label>
                <input asp-for="EmpleadoDireccion" class="form-control" />
                <span asp-validation-for="EmpleadoDireccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoEstado" class="control-label"></label>
                <input asp-for="EmpleadoEstado" class="form-control" />
                <span asp-validation-for="EmpleadoEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoPermiso" class="control-label"></label>
                <input asp-for="EmpleadoPermiso" class="form-control" />
                <span asp-validation-for="EmpleadoPermiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpladoUltimavacafin" class="control-label"></label>
                <input asp-for="EmpladoUltimavacafin" class="form-control" />
                <span asp-validation-for="EmpladoUltimavacafin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoUltimavacainicio" class="control-label"></label>
                <input asp-for="EmpleadoUltimavacainicio" class="form-control" />
                <span asp-validation-for="EmpleadoUltimavacainicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDiasvacaciones" class="control-label"></label>
                <input asp-for="EmpDiasvacaciones" class="form-control" />
                <span asp-validation-for="EmpDiasvacaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
