/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --amarillo: #f8d964;
    --azul: #17355f;
    --blanco: white;
    --extra: #222831;
    --extra2: #454D59;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

a.navbar-brand{
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: var(--amarillo);
}

a.nav-link{
    color: var(--amarillo);
}
/* Provide sufficient contrast against white background */
a {
    color: var(--azul);
}

.btn-primary {
    color: var(--amarillo);
    background-color: var(--azul);
    border-color: var(--azul);
}

    .btn-primary:hover {
        color: var(--azul);
        background-color: var(--blanco);
        border-color: var(--azul);
        transition: all .2s ease;
    }

#navbarinicio {
    color: var(--amarillo);
    background-color: var(--azul);
    border: var(--azul) 1px solid;
    border-radius: 2px;
}

    #navbarinicio:hover {
        color: var(--azul);
        background-color: var(--blanco);
        transition: all .2s ease;
        border: var(--azul) 1px solid;
        border-radius: 5px;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--amarillo);
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--blanco);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.jumbotron {
    background-color: var(--blanco);
}

.navbar {
    background-color: var(--azul);
 
}

.navbar-brand {
    /*color: #f8d964;*/
}

.navbar-nav {
    margin-left:75%;
}

#Dame {
    width: 100%;
    text-align: center;
}

#muni{
    color: var(--amarillo);
}





#filascol {
    background-color: white;
    border: black 2px solid;
}

#Encabezado {
    border: black 2px solid;
    text-align: center;
}

th{
    border-right: black 2px solid;
    color: var(--blanco);
    background-color: var(--azul);
}

td {
    text-align: center;
}

#Titulo_tabla {
    text-align: center;
}

#btntabla{
    color:var(--blanco);
}

#btntabla:hover {
        color: var(--azul);
        transition: all .2s ease;
}


#pie {
    background-color: var(--azul);
    color:var(--amarillo);
    
}

#container_registro {
    margin-top:5rem;
    background-color: var(--extra);
    color: var(--amarillo);
    padding:1rem;
    border-radius:1rem;
}

#container_login {
    
    margin-top: 5rem;
    background-color: var(--extra);
    color: var(--amarillo);
    padding: 1rem;
    border-radius: 1rem;
    text-align:center;
}

#container_login input{
    width:25%;
    position:relative;
    left: 25rem;
}

#container_login_botones {
    position:relative;
    left:27.5rem;
}

#Ingresar{
    position:relative;
    left:3.5rem;
}

#recuperar{
    margin-top:3rem;
    text-align:center;
}
#container_recuperar {
    text-align: center;
    margin-top: 3rem;
    background-color: var(--extra);
    color: var(--amarillo);
    padding: 2rem;
    border-radius: 1rem;
}

#container_recuperar input {
        width: 25%;
        position: relative;
        left: 25rem;
}

#recuperarbtn {
    text-align: center;
    position:relative;
    left:30rem;
}

#container_solicitud {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--extra);
    color: var(--amarillo);
    padding: 2rem;
    border-radius: 1rem;
    transition: all .2s ease;
}

#container_solicitud:hover {
    background-color: var(--extra2);
    transition: all .2s ease;
}

#container_solicitud_mod {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--extra);
    color: var(--amarillo);
    padding: 2rem;
    border-radius: 1rem;
    transition: all .2s ease;
}
#container_solicitud_mod:hover {
        background-color: var(--extra2);
        transition: all .2s ease;
}

#diasDispo{
    font-size:1rem;
    font-weight:900;
}

#container_detailsPerfil {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--extra);
    color: var(--amarillo);
    padding: 2rem;
    border-radius: 1rem;
    transition: all .2s ease;
}

#container_detailsPerfil:hover{
    background-color:var(--extra2);
        transition: all .2s ease;
}

#container_Detalles_Cola {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--extra);
    color: var(--amarillo);
    padding: 2rem;
    border-radius: 1rem;
    transition: all .2s ease;
}

#container_Detalles_Cola:hover {
    background-color: var(--extra2);
    transition: all .2s ease;
}

/*botones animados*/
a.animated-button.thar-two {
    color: var(--azul);
    cursor: pointer;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-two:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: ntwo;
}

a.animated-button.thar-two:hover:before {
            top: 0%;
            bottom: auto;
            height: 100%;
}

a.animated-button.thar-two:before {
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 0px;
        width: 100%;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #F7CA18;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

