@model ControlPostgres.Contexto.Entities.TbSolicitude

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<link href="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.css" rel="stylesheet" />-->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $('#multidate').multiDatesPicker({
                dateFormat: 'dd/mm/yy',
                beforeShowDay: $.datepicker.noWeekends,
                minDate: '+11d'
            });
        });
    </script>

}



<h1>Bienvenido Colaborador @Model.Empleado.EmpleadoNombre1 @Model.Empleado.EmpleadoApellido1 Jefe</h1>

<div class="row" onkeydown="return desabilitartecla(event.keyCode)">
    <div class="col-md-4">

        <form asp-action="RegistrarSolicitud" onkeydown="return desabilitartecla(event.keyCode)">
            <label style="font-size:25px">Crear Solicitud de Vacaciones</label>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="DetallesSolicitud" class="control-label">Detalle la solicitud</label>
                <input asp-for="DetallesSolicitud" class="form-control" autocomplete="off" />
                <span asp-validation-for="DetallesSolicitud" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechasSeleccionadas" class="control-label">Seleccione las fechas que desea descansar</label>
                <input asp-for="FechasSeleccionadas" type="text" class="form-control" id="multidate" autocomplete="off" />
                <span asp-validation-for="FechasSeleccionadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button value="RegistrarSolicitud" type="submit" class="btn btn-primary">Crear Solicitud</button>
            </div>
        </form>
        <form asp-action="ListarSolicitudEmpleado" onkeydown="return desabilitartecla(event.keyCode)">
            <div class="form-group">
                <button value="ListarSolicitudEmpleado" type="submit" class="btn btn-primary">Ver mis solicitudes finalizadas</button>
            </div>
        </form>
        <form asp-action="ListarSolicitudEmpleadoRevisiones" onkeydown="return desabilitartecla(event.keyCode)">
            <div class="form-group">
                <button value="ListarSolicitudEmpleadoRevisiones" type="submit" class="btn btn-primary">Ver mis solicitudes en revisión</button>
            </div>
        </form>
        <form asp-action="SolicitudesDepartamentoJefe" onkeydown="return desabilitartecla(event.keyCode)">
            <div class="form-group">
                <button value="SolicitudesDepartamentoJefe" type="submit" class="btn btn-primary">Solicitudes Departamentos</button>
            </div>
        </form>
    </div>
</div>

