@model ControlPostgres.Contexto.Entities.TbReContra
@section scripts{

    <script>

        $(function () {
            var opcion = '@ViewBag.Opcion'
            if (opcion == "no iguales") {
                Swal.fire({

                    title: "Contraseñas no coinciden",
                    text: "Por favor ingresa correctamente la contraseña y luego vuelve a confirmarla",
                    icon: "warning",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000,
                });
            } else if (opcion == "datos correctos") {
                Swal.fire({

                    title: "Listo",
                    text: "Por favor ingresa tu nueva contraseña",
                    icon: "success",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 2000,
                });
            } else if (opcion == "Campos vacios") {
                Swal.fire({

                    title: "Campos vacios",
                    text: "Por favor ingresa tu nueva contraseña",
                    icon: "error",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 2000,
                });
            }
            
        });
    </script>

}

<h1>Recuperacion de Contraseña</h1>

<div class="row">
    <div class="col-md-4">
        <label style="font-size:25px">Ingrese su nueva contraseña</label>
        <form asp-action="ConfirmaContraseña" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Contra" class="control-label">Ingrese su contraseña</label>
                <input asp-for="Contra" class="form-control" autocomplete="off" />
                <span asp-validation-for="Contra" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RepetirContra" class="control-label">repita su contraseña</label>
                <input asp-for="RepetirContra" class="form-control" autocomplete="off" />
                <span asp-validation-for="RepetirContra" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button value="ConfirmaContraseña" type="submit" class="btn btn-primary"> Recuperar</button>
            </div>

        </form>
    </div>
</div>