@model ControlPostgres.Contexto.Entities.TbEmpleado
@{ ViewBag.Title = "Login"; }

@section scripts{

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        $(function () {
            var opcion = '@ViewBag.Opcion'
            if (opcion == "Usuario Incorrecto") {
                Swal.fire({

                    title: "Credenciales incorrectas",
                    text:"Por favor verifique e ingresa nuevamente tus credenciales",
                    icon: "warning",
                });
                }else if (opcion == "Campos Vacios") {
                Swal.fire({
                    title: "Campos vacios",
                    text:"Por favor ingresa tus credenciales",
                    icon: "error",
                });
            }

        });
    </script>

}


<div class="row">
    <div class="col-md-4">
        <label style="font-size:25px">BIENVENIDO INGRESE SUS CREDENCIALES </label>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="EmpleadoCodigo" class="control-label">Ingrese su codigo de empleado</label>
                <input asp-for="EmpleadoCodigo" class="form-control" autocomplete="off" />
                <span asp-validation-for="EmpleadoCodigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmpleadoContraseña" class="control-label">Ingrese su contraseña</label>
                <input asp-for="EmpleadoContraseña" class="form-control" autocomplete="off" />
                <span asp-validation-for="EmpleadoContraseña" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button value="Login" type="submit" class="btn btn-primary"> Ingresar</button>
            </div>
            <div class="form-group">
                <a asp-action="RecuperarContra" type="submit" class="btn btn-primary">¿olvidaste tu contraseña?</a>
            </div>

        </form>
    </div>
</div>
