@model ControlPostgres.Contexto.Entities.TbEmpleado
@{ ViewBag.Title = "Login"; }

@section scripts{

    <script>

        $(function () {
            var opcion = '@ViewBag.Opcion'
            if (opcion == "Usuario Incorrecto") {
                Swal.fire({

                    title: "Credenciales incorrectas",
                    text:"Por favor verifique e ingresa nuevamente tus credenciales",
                    icon: "warning",
                });
                }else if (opcion == "Campos Vacios") {
                Swal.fire({
                    title: "Campos vacios",
                    text:"Por favor ingresa tus credenciales",
                    icon: "error",
                });
            } else if (opcion == "cambio correcto") {
                Swal.fire({
                    title: "Listo",
                    text: "tu cambio de contraseña ha sido correcto",
                    icon: "success",
                });
            }

        });
    </script>

}



        
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div id="container_login">
                <label style="font-size:25px">INGRESE SUS CREDENCIALES </label>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EmpleadoCodigo" class="control-label">Ingrese su codigo de empleado</label>
                            <input asp-for="EmpleadoCodigo" class="form-control" autocomplete="off" />
                            <span asp-validation-for="EmpleadoCodigo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label asp-for="EmpleadoContraseña" class="control-label">Ingrese su contraseña</label>
                            <input asp-for="EmpleadoContraseña" class="form-control" autocomplete="off" />
                            <span asp-validation-for="EmpleadoContraseña" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div id="container_login_botones">
                    <div class="row">
                        <div class="form-group">
                            <button id="Ingresar" value="Login" type="submit" class="btn btn-primary"> Ingresar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <a asp-action="RecuperarContra" type="submit" class="btn btn-primary">¿olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
