@model ControlPostgres.Contexto.Entities.TbContraseña
@section scripts{

    <script>

        $(function () {
            var opcion = '@ViewBag.Opcion'
            if (opcion == "Campos vacios") {
                Swal.fire({

                    title: "Campos vacios",
                    text: "Por favor ingrese los datos solicitados",
                    icon: "warning",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 2000,
                });
            } else if (opcion == "Credenciales no coinciden") {
                Swal.fire({

                    title: "Datos no coinciden",
                    text: "verifique sus datos e intentelo nuevamente, sino solicite cambio de contraseña con el administrador de la base de datos",
                    icon: "error",
                    showConfirmButton: true,
                });
            }
        });
    </script>

}

<h1 id="recuperar">Recuperacion de Contraseña</h1>

        
        <form asp-action="RecuperarContra" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div id="container_recuperar">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="codigoempleado" class="control-label">Ingrese su codigo de empleado</label>
                            <input asp-for="codigoempleado" class="form-control" autocomplete="off" />
                            <span asp-validation-for="codigoempleado" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="telefono" class="control-label">Ingrese su numero de telefono</label>
                            <input asp-for="telefono" class="form-control" autocomplete="off" />
                            <span asp-validation-for="telefono" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="fechanacimiento" class="control-label">Ingrese su fecha de nacimiento</label>
                            <input asp-for="fechanacimiento" class="form-control" autocomplete="off" />
                            <span asp-validation-for="fechanacimiento" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button id="recuperarbtn" value="RecuperarContra" type="submit" class="btn btn-primary"> Recuperar</button>
                    </div>
                </div>
            </div>

            
        </form>