@{ ViewData["Title"] = "Home Page"; }
@section scripts{

    <script>

        $(function () {
            var opcion = '@ViewBag.Opcion'
            if (opcion == "Salio") {
                Swal.fire({

                    title: "¡Sesión Cerrada!",
                    text: "Espero tengas un lindo dia.",
                    icon: "success",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000,
                });
            } 
        });
    </script>

}
<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">
        al portal de vacaciones de Villa Nueva, en la siguiente plataforma usted podra
        realizar la solicitud para sus vacaciones.
    </p>
    <br />
    <br />
    <p>
        Proximamente Nuevas Funciones.
    </p>
    <p><a href="https://www.villanueva.gob.gt/noticias/" class="btn btn-primary btn-lg">Noticias de Villa Nueva &raquo;</a></p>
</div>

