@{
    ViewData["Title"] = "Derechos de Autor";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>El uso de la siguiente pagina web es unica y exclusivamente para la Municipalidad de Villa Nueva,
    cualquier intento de lucrar sin el debido permiso del creador queda prohibido de lo contrario se
    procedera a actuar legalmente.</p>

<br />
<br />
<p>comuniquese al siguiente correo:</p>
<a href="mailto:richarescobar448@gmail.com">richarescobar448@gmail.com</a>
